.movies-cards {
  margin: 0;
  padding: 84px 0 25px;
  list-style: none;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 39px 24px;
}

@media screen and (max-width: 1180px) {
  .movies-cards {
    grid-template-columns: repeat(2, minmax(300px, 364px));
  }
}

@media screen and (max-width: 800px) {
  .movies-cards {
    gap: 45px 30px;
  }
}

@media screen and (max-width: 720px) {
  .movies-cards {
    grid-template-columns: minmax(250px, 400px);
  }
}

@media screen and (max-width: 450px) {
  .movies-cards {
    padding: 54px 0 23px;
    row-gap: 27px;
  }
}
