.movies {
  max-width: var(--max-section-width);
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
  flex-grow: 1;
}

.movies__info-message {
  color: var(--textcolor-main);
  font-size: 14px;
  text-align: center;
  width: 80%;
  margin: 50px auto;
  padding: 0;
}

.movies__load-btn {
  margin: 50px auto 90px;
  display: block;
  min-width: 320px;
  max-width: 100%;
  background-color:#FFFFFF;
  border: solid 1px #E8E8E8;
  border-radius: 6px;
  color: var(--textcolor-main);
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 11px 60px 9px;
  cursor: pointer;
}

.movies__load-btn:hover {
  opacity: .7;
}

.movies__load-btn:active {
  transform: scale(.98);
}

@media screen and (max-width: 800px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .movies {
    padding: 0 10px;
  }

  .movies__load-btn {
    min-width: 240px;
    margin-bottom: 100px;
  }
}
