.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}

.form__fields {
  border: none;
  margin: 0;
  padding: 0;
}

.form__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form__submit-button {
  margin-top: 20px;
  width: 100%;
  border-radius: 3px;
  padding: 14px 0;
  background-color: var(--bgcolor-buttons);
  color: var(--textcolor-light);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.form__submit-button:hover {
  opacity: .7;
}


.form__submit-button_page_profile {
  width: fit-content;
  cursor: pointer;
  background: none;
  font-size: 13px;
  font-weight: 400;
  padding: 0;
}

.form__submit-button:disabled {
  cursor: not-allowed;
  background-color: var(--textcolor-grey);
  color: #C2C2C2;
}

.form__submit-button_page_profile:disabled {
  background: none;
}

.form__message {
  color: var(--textcolor-light);
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s;
}

.form__message_type_error {
  color: var(--error-color);
}


@media screen and (max-width: 500px) {
  .form__submit-button {
    font-size: 12px;
  }
}