.search-form {
  border-bottom: 1px solid rgba(170, 170, 170, .2);
  padding: 70px 0 70px;
  margin-bottom: 11px;
}

.search-form__inner {
  border-radius: 9px;
  background-color: #F9F9F9;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 19px;
}

.search-form__search-icon {
  background: url(../../images/search-icon.svg) center / contain no-repeat;
  min-width: 34px;
  height: 34px;
}

.search-form__side-block {
  display: flex;
  align-items: center;
  padding: 0 30px 0;
}

.search-form__divider {
  border-right: solid 1px #E8E8E8;
  height: 40px;
  margin: 0 30px 0;
}

.search-form__input {
  box-sizing: border-box;
  border-radius: 9px;
  width: 100%;
  height: 72px;
  padding: 25px 10px;
  border: none;
  background-color: #F9F9F9;
  color: var(--textcolor-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  background: url(../../images/search-btn.svg) center / contain no-repeat;
  border: none;
  border-radius: 50px;
  margin: 0;
  padding: 0;
  min-width: 34px;
  height: 34px;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: .7;
}

.search-form__button:active {
  transform: scale(.98);
}

.search-form__toggle {
  display: flex;
  justify-content: flex-start;
}

.search-form__toggle-label {
  color: var(--textcolor-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.search-form__toggle-checkbox-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-form__toggle-checkbox-visible {
  display: block;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  transition: background-color .2s ease;
  background-color: #EBEBEB;
  position: relative;
}

.search-form__toggle-checkbox-visible::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #F5F5F5;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all .2s ease;
}

.search-form__toggle-checkbox-visible_checked {
  background-color: var(--bgcolor-action);
}

.search-form__toggle-checkbox-visible_checked::after {
  background-color: #fff;
  left: 18px;
}

.search-form__error {
  color: var(--error-color);
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 26px
}

@media screen and (max-width: 800px) {
  .search-form {
    padding: 80px 0 111px;
  }

  .search-form__side-block {
    padding: 0 20px 0;
  }


  .search-form__divider {
    margin: 0 19px 0;
  }

}

@media screen and (max-width: 450px) {
  .search-form {
    padding-bottom: 109px;
    position: relative;
  }

  .search-form__divider, .search-form__search-icon {
    display: none;
  }

  .search-form__inner {
    padding-left: 0;
    padding-right: 19px;
  }

  .search-form__side-block {
    padding: 0;
  }

  .search-form__toggle {
    position: absolute;
    left: calc((100vw - 320px)/(450 - 320) * (-10 + 76) + 76px);
    top: 120%;
  }

  .search-form__input {
    font-size: 16px;
    line-height: 1;
    padding-left: 19px;
    padding-right: 19px;
  }

  .search-form__toggle {
    margin-top: 30px;
  }

  .search-form__toggle-label {
    font-size: 11px;
    column-gap: 13px;
  }

  .search-form__error {
    font-size: 10px;
    bottom: 7px;
    left: 15px
  }
}


@media screen and (max-width: 320px) {
  .search-form__toggle {
    left: 76px;
  }
}
