.search-panel {
  width: 100%;
}

.search-panel__line-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  padding-bottom: 13px;
  margin-bottom: 5px;
}

.search-panel__input {
  width: 90%;
  background: none;
  border: none;
  color: var(--textcolor-grey);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-panel__input:focus {
  outline: none;
}

.search-panel__button {
  cursor: pointer;
  width: 34px;
  height: 34px;
  border: none;
  background: url(../../images/search_button_icon.svg) center / contain no-repeat;
}

.search-panel__button:hover {
  opacity: .7;
}

.search-panel__button:active {
  transform: scale(.98);
}

.search-panel__toggle-label {
  display: flex;
  gap: 14px;
  align-items: center;
  color: var(--textcolor-light);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}

.search-panel__error {
  display: block;
  height: 14px;
  margin-bottom: 13px;
  color: var(--error-color);
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-panel__toggle-checkbox-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-panel__toggle-checkbox-visible {
  position: relative;
  display: block;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  transition: background-color .2s ease;
  background-color: #a1a1a1;
}

.search-panel__toggle-checkbox-visible::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all .2s ease;
}

.search-panel__toggle-checkbox-visible_checked {
  background-color: var(--bgcolor-action);
}

.search-panel__toggle-checkbox-visible_checked::after {
  background-color: #fff;
  left: 18px;
}

@media screen and (max-width: 989px) {
  .search-panel__toggle-label {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 320px) {
  .search-panel__line-container {
    padding-bottom: 8px;
  }

  .search-panel__input {
    font-size: 18px;
  }

  .search-panel__error {
    margin-bottom: 22px;
  }

  .search-panel__toggle-label {
    justify-content: center;
    font-size: 11px;
  }
}