.saved-movies {
  padding: 63px 70px 72px 70px;
}

.saved-movies__search-message {
  margin: 0;
  text-align: center;
  font-family: Inter;
  color:  var(--textcolor-grey);
  font-size: 25px;
}

@media screen and (max-width: 989px) {
  .saved-movies {
    padding: 79px 30px 99px 30px;
  }
}

@media screen and (max-width: 380px) {
  .saved-movies {
    padding: 84px 14px 27px 14px;
  }

  .saved-movies__load-btn {
    width: 240px;
  }
}