.saved-movies {
  max-width: var(--max-section-width);
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
  flex-grow: 1;
}

.saved-movies__info-message {
  color: var(--textcolor-main);
  font-size: 14px;
  text-align: center;
  width: 80%;
  margin: 50px auto;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .saved-movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .saved-movies {
    padding: 0 10px;
  }
}
