.navbar {
  display: none;
  justify-content: flex-end;
  width: 100%;
}

.navbar_visible {
  display: flex;
}

.navbar__links-container {
  display: flex;
  width: 676px;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  text-decoration: none;
  color: var(--textcolor-light);
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
  height: 26px;
}

.navbar__link {
  text-decoration: none;
  color: var(--textcolor-light);
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}

.navbar__link_active {
  font-weight: 500;
}

.navbar__profile-icon {
  border-radius: 50px;
  background-color:rgba(248, 248, 248, 0.1);
  padding: 8px;
  width: 10px;
  height: 10px;
}

.navbar__link_resolution_desktop {
  display: flex;
  align-items: center;
  gap: 7px;
}

.navbar__links-item_resolution_mobile {
  display: none;
}
