.techs {
  padding: 100px 0;
  background-color: var(--bgcolor-dark);
}

.techs__inner {
  padding: 0 70px;
}

.techs__title {
  color: var(--textcolor-main);
  max-width: 600px;
  margin: 90px auto 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__description {
  color: var(--textcolor-main);
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0 auto 100px;
}

.techs__techs-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  justify-content: center;
}

.techs__techs-list-item {
  color: var(--textcolor-main);
  background-color: #E8E8E8;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  width: 100%;
  padding: 21px 0;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .techs {
    padding: 90px 0;
  }
  .techs__inner {
    padding: 0 50px;
  }
  .techs__title {
    margin: 80px auto 22px;
  }
  .techs__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }
  .techs__techs-list {
    grid-template-columns: repeat(auto-fit, 84px);
  }
  .techs__techs-list-item {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
    width: 84px;
  }
}

@media screen and (max-width: 450px) {
  .techs {
    background-color: var(--bgcolor-main);
    padding: 70px 0;
  }
  .techs__inner {
    padding: 0 18px;
  }
  .techs__title {
    margin: 60px auto 24px;
    font-size: 30px;
    line-height: 36px;
  }
  .techs__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
  }
  .techs__techs-list {
    padding: 0 30px;
  }
}

