.about-me {
  padding: 110px 0 100px;
}

.about-me__inner {
  padding: 0 70px;
}

.about-me__bio {
  margin-top: 66px;
  display: grid;
  grid-template-columns: auto 270px;
  grid-template-areas:
    'text photo'
    'link photo';
  justify-content: space-between;
  width: 100%;
  column-gap: 49px;
  row-gap: 22px;
}

.about-me__bio-text-wrapper {
  max-width: 600px;
  grid-area: text;
}

.about-me__name {
  margin: 0 0 18px;
  color: var(--textcolor-main);
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__profession {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--textcolor-main);
  margin: 0 0 26px;
}

.about-me__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--textcolor-main);
}

.about-me__link {
  color: var(--textcolor-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  grid-area: link;
  align-self: flex-end;
}

.about-me__link:hover {
  opacity: .7;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
  grid-area: photo;
}

@media screen and (max-width: 800px) {
  .about-me {
    padding: 90px 0;
  }

  .about-me__inner {
    padding: 0 50px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__bio {
    grid-template-columns: auto 255px;
  }

  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__profession {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 650px) {
  .about-me__bio {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }

  .about-me__photo {
    order: -1;
    margin-bottom: 40px;
  }

  .about-me__text {
    margin-bottom: 40px;
  }

  .about-me__link {
    align-self: unset;
  }
}

@media screen and (max-width: 450px) {
  .about-me {
    padding: 70px 0;
  }

  .about-me__inner {
    padding: 0 14px;
  }

  .about-me__bio {
    margin-top: 60px;
  }

  .about-me__name {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__profession {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__photo {
    width: 100%;
    height: unset;
    aspect-ratio: .83;
    margin-bottom: 40px;
  }
}
